%br 
%br
.navbar.bg-white.border-b
  .container.mx-auto.w-full
    = link_to_unless_current t('english'), locale: "en"
    = link_to_unless_current t('svenska'), locale: "se" 
    = link_to 'D-pressed', root_path  

  #login-menu.flex.pin-r.sticky
    - unless current_user
      .py-4.mr-4.text-grey= link_to t('registration'), new_user_registration_path
      .py-4.mr-4.text-grey= link_to t('log_in'), new_user_session_path
      
   
      



    






